In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('./data_csv/binned.csv', index_col=0)

In [3]:
df.head()

,year,month,type,city,average_price,category_vol
0,2015,January,conventional,Albany,1.22,medium
1,2015,January,organic,Albany,1.79,small
2,2015,January,conventional,Atlanta,1.00,wholesale
3,2015,January,organic,Atlanta,1.76,small
4,2015,January,conventional,Baltimore/Washington,1.08,wholesale

### Splitting Data

In [4]:
X = df.drop(columns=['average_price'])
y = df['average_price']

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

### Model

In [7]:
from sklearn.ensemble import RandomForestRegressor

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import r2_score

In [8]:
transform = ColumnTransformer([
    ("encode", OneHotEncoder(), ['type', 'city', 'month', 'category_vol'])
], remainder = 'passthrough')

model = Pipeline([
    ("encode", transform),
    ("algo", RandomForestRegressor(max_depth=None, max_features=None, min_samples_leaf= 1, min_samples_split= 2, n_estimators=150))
])

In [9]:
model.fit(X_train, y_train)

Pipeline(steps=[('encode',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('encode', OneHotEncoder(),
                                                  ['type', 'city', 'month',
                                                   'category_vol'])])),
                ('algo',
                 RandomForestRegressor(max_features=None, n_estimators=150))])

In [10]:
pred = model.predict(X_test)

In [11]:
from sklearn.metrics import r2_score

r2_score(y_test, pred)

0.8344070371158243

===========================================================================

In [12]:
import pickle

In [13]:
# with open ('price_prediction', 'wb') as ML:  
#     pickle.dump(model, ML)

In [14]:
X_train.columns

Index(['year', 'month', 'type', 'city', 'category_vol'], dtype='object')